%main.u-sizeFull.Grid-item
  %section#schedule
    %h2 Schedule
    %table.Table.Table--striped.Table--e4eSchedule
      %tr
        %td.u-paddingFlush.u-marginFlush{colspan: "3"}
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal.first{scope: "row"}
          8:15am
          %span
        %td.u-kilo.session-title
          Registration
        %td.u-alpha.session-location Ampitheater
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"} 
          9am
          %span
        %td.u-kilo.session-title 
          Opening Remarks
          %span.session-speaker.u-beta.u-block Ken Surdan
        %td.u-alpha.session-location Great Room
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"} 
          9:10am
          %span
        %td.u-kilo.session-title 
          Keynote
          %span.session-speaker.u-beta.u-block Merlin Mann
        %td.u-alpha.session-location Great Room
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"}
          10:10am
          %span
        %td.u-kilo.session-title Snack Break
        %td.u-alpha.session-location Ampitheater
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"} 
          10:30am
          %span        
        %td.u-paddingFlush{colspan: "2"}
          %table.Table
            %tr.u-valignTop
              %td.u-paddingBottomFlush.u-kilo.session-title  
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room One
            %tr.u-valignTop
              %td.u-paddingBottomFlush.u-kilo.session-title  
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room Two
            %tr.u-valignTop
              %td.u-kilo.session-title 
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room Three
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"} 
          11:15am
          %span
        %td.u-kilo.session-title Break
        %td.u-alpha.session-location
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"}
          11:30am
          %span
        %td.u-paddingFlush{colspan: "2"}
          %table.Table
            %tr.u-valignTop
              %td.u-paddingBottomFlush.u-kilo.session-title  
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room One
            %tr.u-valignTop
              %td.u-paddingBottomFlush.u-kilo.session-title  
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room Two
            %tr.u-valignTop
              %td.u-kilo.session-title 
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room Three
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"} 
          12:15pm
          %span
        %td.u-kilo.session-title Lunch
        %td.u-alpha.session-location Ampitheater
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"} 
          1:25pm
          %span
        %td.u-paddingFlush{colspan: "2"}
          %table.Table
            %tr.u-valignTop
              %td.u-paddingBottomFlush.u-kilo.session-title  
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room One
            %tr.u-valignTop
              %td.u-paddingBottomFlush.u-kilo.session-title  
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room Two
            %tr.u-valignTop
              %td.u-kilo.session-title 
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room Three
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"}
          2:10pm
          %span
        %td.u-kilo.session-title Break
        %td.u-alpha.session-location
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"} 
          2:25pm
          %span
        %td.u-paddingFlush{colspan: "2"}
          %table.Table
            %tr.u-valignTop
              %td.u-paddingBottomFlush.u-kilo.session-title  
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room One
            %tr.u-valignTop
              %td.u-paddingBottomFlush.u-kilo.session-title  
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room Two
            %tr.u-valignTop
              %td.u-kilo.session-title 
                Title
                %span.session-speaker.u-beta.u-block Ken Surdan
              %td.u-alpha.session-location Room Three
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal{scope: "row"} 
          3:10pm
          %span
        %td.u-kilo.session-title Snack Break
        %td.u-alpha.session-location Ampitheater
      %tr.u-valignTop
        %th.u-textRight.u-paddingLeftHalf.u-beta.u-weightNormal.last{scope: "row"}
          3:30pm
          %span
        %td.u-kilo.session-title 
          Title
          %span.session-speaker.u-beta.u-block Ken Surdan
        %td.u-alpha.session-location Ampitheater

    %section
      %h2.u-alpha.u-marginEndsDouble Speakers
      .Grid.u-listStyleNone
        .Grid-item.b3-u-size1of4.b2-u-size1of3.b1-u-size1of2
          .Speaker
            %a.u-linkClean{:href=>"#{}"}
              %img.Speaker-image(src='/assets/Michael_Lopp.jpg' alt='Michael Lopp')
              %span.Speaker-name Michael Lopp
              %span.Speaker-position
                %em Author, director 
              %span.Speaker-company
                %em @ Palantir
        .Grid-item.b3-u-size1of4.b2-u-size1of3.b1-u-size1of2
          .Speaker
            %a.u-linkClean{:href=>"#{}"}
              %img.Speaker-image(src='/assets/Merlin_Mann.jpg' alt='')
              %span.Speaker-name Merlin Mann
              %span.Speaker-position 
                %em Author, speaker, co-host, &amp; creator of
              %span.Speaker-company
                %em 43folders.com
        .Grid-item.b3-u-size1of4.b2-u-size1of3.b1-u-size1of2
          .Speaker
            %a.u-linkClean{:href=>"#{}"}
              %img.Speaker-image(src='/assets/Abby_Fichtner.png' alt='')
              %span.Speaker-name Abby Fichtner
              %span.Speaker-position
                %em Hacker Chick
              %span.Speaker-company
                %em @ Harvard Innovation Lab
        .Grid-item.b3-u-size1of4.b2-u-size1of3.b1-u-size1of2
          .Speaker
            %a.u-linkClean{:href=>"#{}"}
              %img.Speaker-image(src='/assets/GizmoGalligan.gif' alt='')
              %span.Speaker-name Gizmo Galligan III
              %span.Speaker-position 
                %em Co-Founder, 
              %span.Speaker-company
                %em H20isForAliens
        .Grid-item.b3-u-size1of4.b2-u-size1of3.b1-u-size1of2
          .Speaker
            %a.u-linkClean{:href=>"#{}"}
              %img.Speaker-image(src='/assets/GizmoGalligan.gif' alt='')
              %span.Speaker-name Gizmo Galligan III
              %span.Speaker-position 
                %em Co-Founder, 
              %span.Speaker-company
                %em H20isForAliens
        .Grid-item.b3-u-size1of4.b2-u-size1of3.b1-u-size1of2
          .Speaker
            %a.u-linkClean{:href=>"#{}"}
              %img.Speaker-image(src='/assets/GizmoGalligan.gif' alt='')
              %span.Speaker-name Gizmo Galligan III
              %span.Speaker-position 
                %em Co-Founder, 
              %span.Speaker-company
                %em H20isForAliens
        
      %hr.Divider--horizontal

%section.Venue.u-paddingDouble
  %h2#venue.Heading Venue
  .Venue-innoloft
    %img(src='/assets/venue-innoloft.png' alt='Constant Contact Innovation Loft')
  .Venue-meta
    %h3.Venue-meta-item 1601 Trapelo Road
    %h3.Venue-meta-item Waltham, MA 02451

%section.About.u-paddingDouble
  #about.About-inner
    %h2.Heading.u-textCenter.u-marginBottom engineers 4 engineers
    %p.u-textCenter.b2-u-zeta Lorem ipsum dolor sitmmming elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

%section.Contact.u-paddingDouble
  .Contact-inner.u-textCenter
    %p.u-marginBottomDouble
      %a.Contact-sprite.contact-twitter{href:'#', alt: 'Follow Us'} Follow us on Twitter
      %a.Contact-sprite.contact-mail{href:'#', alt: 'Email Us'} Email Us
      %a.Contact-sprite.contact-lanyard{href:'#', alt: 'Lanyard'} We're on Lanyard
    %p &#xa9; Copyright 2014 Engineers4Engineers

%footer
  %ul.mobile-nav#mobile-menu
    %li
      %a{href: '#top'} Back to top
    %li
      %a{href: '#attend'} Attend
    %li
      %a{href: '#schedule'} Schedule
    %li
      %a{href: '#speakers'} Speakers
