%section
  %h1.u-alpha.u-marginEndsDouble Speakers
  .Grid.u-marginSidesDouble
    - speaker_count = (t "speakers").count
    - (1..speaker_count).to_a.each do |bio_num|
      .Speaker.Speaker--biography.Grid-item
        .Speaker-credentials.b3-u-size1of4.b2-u-size1of3
          %img.Speaker-image{src: (t "speakers.bio#{bio_num}.avatar")}
          %span.Speaker-name= t "speakers.bio#{bio_num}.name"
          %span.Speaker-position= t "speakers.bio#{bio_num}.title"
          %span.Speaker-company= t "speakers.bio#{bio_num}.company"
          .Speaker-icons
            %span.twitter= t "speakers.bio#{bio_num}.twitter"
            %span.linkedin= t "speakers.bio#{bio_num}.linked_in"
        .Speaker-bio.b3-u-size3of4.b2-u-size2of3
          = t "speakers.bio#{bio_num}.bio_html"
        / .Speaker-sessionDescription.b3-u-size3of4.b2-u-size2of3 
        /   %h2.Speaker-sessionTitle.u-alpha.u-marginEndsDouble= t "speakers.bio#{bio_num}.session_title}"
        /   %p= t "speakers.bio#{bio_num}.session_desc"
